In [1]:
import sys
import pandas as pd

from sklearn.linear_model import LinearRegression

# Add parent directory to path to allow import of config.py
sys.path.append("..")

import config as conf

First modeling strategy attempted will be a simple linear model which predicts the next term's enrollment based on all of the previous term's data.

In [2]:
data = pd.read_csv(f'{conf.DATA_PATH}{conf.FORMATTED_DATAFILE}')
data

,Unnamed: 0,Census Enrollment,Census Fill Rate,Count of Migrated Data,Current Enrollment,Current Fill Rate,Enrollment Capacity,Ftef,Ftes,Ftes/Ftef,...,Wsch/Ftef,Next Semester Census Enrollment,year_2016,year_2017,year_2018,year_2019,year_2020,semester_FA,semester_SP,semester_SU
0,0,23035.0,0.659009,873.0,23035.0,0.659009,34954.0,222.960,3388.44,15.197524,...,456.131145,4940.0,1,0,0,0,0,1,0,0
1,1,4940.0,0.455551,212.0,4939.0,0.455459,10844.0,51.831,756.62,14.597828,...,439.640370,24250.0,1,0,0,0,0,0,0,1
2,2,24250.0,0.663693,917.0,24250.0,0.663693,36538.0,221.658,3453.37,15.579722,...,467.801749,22573.0,0,1,0,0,0,1,0,0
3,3,22573.0,0.606361,900.0,22573.0,0.606361,37227.0,220.622,3277.43,14.855409,...,445.499542,4697.0,0,1,0,0,0,0,1,0
4,4,4697.0,0.445171,204.0,4697.0,0.445171,10551.0,48.731,702.63,14.418543,...,433.994788,25753.0,0,1,0,0,0,0,0,1
5,5,25753.0,0.682108,948.0,25753.0,0.682108,37755.0,228.736,3736.85,16.336956,...,526.296691,22781.0,0,0,1,0,0,1,0,0
6,6,22781.0,0.607008,907.0,22790.0,0.607248,37530.0,215.558,3231.18,14.989840,...,449.767580,4705.0,0,0,1,0,0,0,1,0
7,7,4705.0,0.443910,206.0,4705.0,0.443910,10599.0,45.488,609.09,13.390125,...,416.373549,26206.0,0,0,1,0,0,0,0,1
8,8,26206.0,0.685070,965.0,26206.0,0.685070,38253.0,230.480,3796.20,16.470843,...,534.423811,23752.0,0,0,0,1,0,1,0,0
9,9,23752.0,0.622742,925.0,23752.0,0.622742,38141.0,220.660,3366.87,15.258180,...,498.663102,4848.0,0,0,0,1,0,0,1,0
10,10,4848.0,0.439250,219.0,4848.0,0.439250,11037.0,45.796,590.72,12.898943,...,439.208665,24001.0,0,0,0,1,0,0,0,1
11,11,24001.0,0.692670,883.0,24001.0,0.692670,34650.0,208.530,3487.85,16.725891,...,537.534168,23325.0,0,0,0,0,1,1,0,0
12,12,23325.0,0.600541,941.0,23325.0,0.600541,38840.0,219.525,3330.54,15.171575,...,495.278442,5349.0,0,0,0,0,1,0,1,0
13,13,5349.0,0.535865,189.0,5349.0,0.535865,9982.0,41.263,644.49,15.619078,...,528.124470,20723.0,0,0,0,0,1,0,0,1